{{ define "main" }}
    <main>
        <article>
            {{ with .Content }}
            <section>
                {{ . }}
            </section>
            {{ end }}

            <section>
                {{ $pages := where .Pages "Params.hidden" "!=" true}}
                {{ range (.Paginate $pages).Pages }}
                <article>
                    <header>
                        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                    </header>

                    <section>{{ .Summary | safeHTML }}</section>

                    <footer>
                        <span>{{ .Date.Format "Jan 2, 2006" }}</span>
                    </footer>
                </article>
                {{- end -}}
                {{ partial "pagination.html" . }}
            </section>
        </article>
    </main>
{{ end }}
